body {
    background-image: url("../images/background.jpg");
}

#title {
    font-family: 'SF Distant Galaxy Outline', sans-serif;
    letter-spacing: 6px;
    line-height: 150%;
    transform-origin:50% 100%;
    transform:perspective(400px) rotateX(50deg);
}

#movies {
    background-color: #202124;
    color: yellow;
    font-family: 'SF Distant Galaxy', sans-serif;
    border-color: 1px solid #f3b600;
}

#movies:focus {
    border-color: #f3b600;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #f3b60058;
}

#moviesList {
    background-color: #202124;
    border-color: #f3b600;
    box-shadow: black 5px 5px 10px;
}

.dropdown-menu > a {
    background-color: #202124;
    color: #f3b600;
    font-family: 'SF Distant Galaxy', sans-serif;
}

.dropdown-menu > a:hover {
    background-color: #202124;
    color: yellow;
}

.btn {
    font-family: 'SF Distant Galaxy', sans-serif;
    min-width: 15%;
}

#image {
    position: relative;
}

#planetName {
    position: absolute;
    top: 90%;
    left: 50%;
    font-family: 'SF Distant Galaxy Outline', sans-serif;
    transform: translate(-50%, -50%);
}
